<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ISL Project</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <ol>
        {% for k in send_num_list %}
            <li>{{k}}</li>
        {% endfor %}
    </ol>
    <h1>Nickname:{{send_personal_info.get('nickname')}}</h1><h2>Age:{{send_personal_info.get('age')}}</h2><h1>address:{{send_personal_info.get('address')}}</h1>
  </body>
</html>